<h1>
  My name is <%= 
  ["Amigo", "Misty", "Almond"].sample
  %>
</h1>

<div style = 'border: 3px dashed red'>
    <img src='https://images2.minutemediacdn.com/image/upload/c_fill,g_auto,h_1248,w_2220/f_auto,q_auto,w_1100/v1555302439/shape/mentalfloss/russianbluehed.png'>
</div>